@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200&display=swap');

#chatSpine {
  display: block;
  position: fixed;
  bottom: -20px;
  right: 0;
  font-family: 'Montserrat', sans-serif;
  z-index: 999;
}

.chat-spine-button{
  display: flex;
  position: absolute;
  width: 200px;
  right: 170px;
  bottom: 120px;
  border-radius: 10px;
  background: #232323;
  padding: 20px 10px;
  transition-duration:0.3s ease !important;
}
.chat-spine-button .options{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.chat-spine-button .option{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px 20px;
  align-items: center;
  cursor: pointer;
  background: #131313;
  box-shadow:  20px 20px 60px #1c1c1c,
  -20px -20px 60px #262626;
  transition-duration:0.3s !important;
  margin: 10px 0;
}
.chat-spine-button .option-icon i{
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 25px;
  color: #fff;
}
.chat-spine-button .option-text{
  text-align: right;
  color: #fff;
}

.chat-spine-button .option:hover{
  background: #720000;
  transition-duration:0.3s ease !important;
}